# =========================
# PYTHON
# =========================

__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/
ENV/

# =========================
# ENV FILES
# =========================

.env
.env.*
!.env.example

# =========================
# PYTEST
# =========================

.pytest_cache/
.coverage
htmlcov/

# =========================
# MYPY
# =========================

.mypy_cache/
.dmypy.json

# =========================
# IDE
# =========================

.vscode/
.idea/

# =========================
# LOGS
# =========================

*.log

# =========================
# OS
# =========================

.DS_Store
Thumbs.db

# =========================
# BUILD
# =========================

build/
dist/
*.egg-info/

# =========================
# UVICORN
# =========================

*.pid

# =========================
# CACHE
# =========================

.cache/

# =========================
# MISC
# =========================

*.sqlite3
*.db
*.pem

uploads/
temp/
temp_files/
storage/